In [10]:
# importing necessary library
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

sns.set() # all plot will cover on seaborn style

In [40]:
# loading the cleaned data
day = pd.read_csv("day_2.csv")
day.head()

,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [41]:
# as the `cnt` is not required
day.drop('cnt', axis=1, inplace=True)
day.head()

,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered
0,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654
1,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670
2,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229
3,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454
4,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518

In [42]:
# droping the holiday column
day.drop('holiday', axis=1, inplace=True)

In [43]:
X = day.drop(['casual', 'registered'], axis=1)
y = day[['casual', 'registered']]

X.shape, y.shape

((731, 9), (731, 2))

In [44]:
# checking the max and min value in target
print(f"Max Value in Target: {y.max()}")
print("\n")
print(f"Min Value in Target: {y.min()}")

Max Value in Target: casual        3410
registered    6946
dtype: int64


Min Value in Target: casual         2
registered    20
dtype: int64

In [45]:
# dividing in to train and test set
# train test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32)

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((584, 9), (584, 2), (147, 9), (147, 2))

In [46]:
# importing RandomForest Regressior
from sklearn.ensemble import  RandomForestRegressor

# creating instance of randomforest regressor
rf_1 = RandomForestRegressor()

In [47]:
# first i will create a base model then i will go for hyperparameter tuning.
rf_1.fit(X_train, y_train)

RandomForestRegressor()

In [48]:
# checking the perofrmance on the training
y_pred_train = rf_1.predict(X_train)

# importing the rmse from sklearn
from sklearn.metrics import  mean_squared_error

rmse_train = np.sqrt(mean_squared_error(y_train, y_pred_train))

print('RMSE on Traning data {}'.format(rmse_train))

RMSE on Traning data 283.80300431726124

In [49]:
# error on testing data
y_pred_test = rf_1.predict(X_test)

rmse_test = np.sqrt(mean_squared_error(y_test, y_pred_test))

print('RMSE on Testing data {}'.format(rmse_test))

RMSE on Testing data 761.9524679409868

In [50]:
# chceking the socre.
from sklearn.metrics import r2_score

print('Score: {}'.format(r2_score(y_test, y_pred_test)))

Score: 0.7204813433850477

In [51]:
t1 = X_test.iloc[0:1].to_numpy()
rf_1.predict(t1)

array([[ 210.05, 2789.45]])

In [52]:
# Saving the model
import joblib
joblib.dump(rf_1, 'rnd_rfst_multioutput_71_r2.pkl', compress=3)

['rnd_rfst_multioutput_71_r2.pkl']

In [53]:
# getting the shape and features name
X_test.shape

(147, 9)

In [54]:
X_test

,season,mnth,weekday,workingday,weathersit,temp,atemp,hum,windspeed
19,1,1,4,1,2,0.261667,0.255050,0.538333,0.195904
623,3,9,6,0,1,0.608333,0.585867,0.501667,0.247521
13,1,1,5,1,1,0.160870,0.188413,0.537826,0.126548
296,4,10,1,1,1,0.463333,0.457067,0.772083,0.118792
74,1,3,3,1,2,0.365217,0.366930,0.776522,0.203117
...,...,...,...,...,...,...,...,...,...
716,4,12,1,1,2,0.393333,0.401500,0.907083,0.098258
222,3,8,4,1,1,0.717500,0.651521,0.423750,0.164796
478,2,4,1,1,2,0.321667,0.301125,0.766667,0.303496
151,2,6,3,1,2,0.764167,0.720967,0.677083,0.207092
570,3,7,2,1,1,0.750833,0.706450,0.655000,0.211454

In [58]:
import datetime as dt
from datetime import date

today = date.today()
today

datetime.date(2021, 8, 2)

In [59]:
import datetime
now = datetime.datetime.now()
print(now.year, now.month, now.day, now.hour, now.minute, now.second)

2021 8 2 0 22 12

In [61]:
type(now.month) # 8

int

In [65]:
datetime.datetime.today().weekday()

0